*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Ubuntu', serif;
  background-color: #000000;
  color:white;
  font-size: 22px;;
}

#container{
  display:grid;
  border: 1px solid black;
  grid-template-columns: 1fr 0.6fr 1fr;
  grid-template-rows: calc(10vh - 10px) calc(40vh - 10px) calc(40vh - 10px) calc(10vh - 10px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

#container .titulo{
  padding: 9px;
  background-color:#000000;
  border-radius: 5px;
  grid-column:1/5;
  grid-row:1/2;
  text-align: center;
}


#container .celda2{
  padding: 9px;
  background-color:#000000;
  border-radius: 5px;
  grid-column:1/2 ;
  grid-row: 2/3;
}


#container .celda3{
  padding: 9px;
  background-color:#000000;
  border-radius: 5px;
  grid-column:2/2 ;
  grid-row:2/2 ;
}
#container .celda3 img{
  height: 100%;
  width: 75%;
  }

#container .celda4{
  padding: 9px;
  background-color:#000000;
  border-radius: 5px;
  grid-column:3/4 ;
  grid-row:2/3 ;
}

#container .celda5{
  padding: 9px;
  background-color:#000000;
  border-radius: 5px;
  grid-column:1/4;
  grid-row:3/4;
  text-align: center;
}

#container .pie{
  padding: 9px;
  background-color:#000000;
  border-radius: 5px;
  grid-column:1/5;
  grid-row:4/5;
}
